@model WebAtividadeEntrevista.Models.ClienteBeneficiariosModel
@{
    var count = 1;

}

<body onload="">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label for="benNome"><b>Nome:</b></label>
                </div>
                <div class="col-md-4">
                    <label for="benCpf"><b>CPF:</b></label>
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <form>
                    <div class="col-md-4">
                        <input type="hidden" id="benId" value="@Model.Cliente.Id" />
                        <input name="benNome" id="benNome" class="form-control" type="text" maxlength="50" />
                    </div>
                    <div class="col-md-4">
                        <input name="benCpf" id="benCpf" class="form-control" onfocus="MascaraCPF('#benCpf')" type="text" maxlength="14" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success" id="btnAlterar-@count" onclick="InserirBeneficiario()">Incluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @foreach (var ben in Model.Beneficiarios)
    {
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row" style="margin-top:5px" id="rowDados">
            <div class="col-md-4">
                <div class="pull-left" id="nomeBen-@count">
                    @ben.Nome
                </div>
            </div>
            <div class="col-md-4">
                <div class="pull-left" id="cpfBen-@count">
                    @ben.CPF
                </div>
            </div>
            @{
                var editBenJson = new { id = ben.Id, nome = ben.Nome, cpf = ben.CPF, IdCliente = ben.IdCliente };
                var editBenJsonString = Html.Raw(Json.Encode(editBenJson));
            }
            <div class="col-md-2">
                <div class="pull-left">
                    <button type="button" class="btn btn-primary" id="btnAlterar-@count" onclick='AlterarBeneficiario(@editBenJsonString, @count)'>Alterar</button>
                </div>
            </div>
            <div class="col-md-2" id="divBtnExcluir">
                <div class="pull-left">
                    <button type="button" class="btn btn-danger" id="btnExcluir-@count" onclick='ExcluirBeneficiario(@editBenJsonString, @count)'>Excluir</button>
                </div>
            </div>
        </div>
        count++;
    }




    <div class="row">
        <div class="col-sm-12">
            <div id="rowResult" class="alert alert-success" role="alert" style="display: none; margin-top:10px">
                <b>Beneficiário salvo com sucesso!</b>
            </div>
        </div>
    </div>
</body>

